*,
*:before,
*:after {
    box-sizing: inherit;
}

html {
    height: 100%;
    box-sizing: border-box;
}

body {
    font-family: 'Raleway', sans-serif !important;
    background: url('../imgs/bg.jpg') center center no-repeat !important;
    background-size: cover !important;
    position: relative;
    margin: 0;
    height: 100%;
}

.container {
    height: 100%;
}

#container {
    min-width: 930px;
}

#container h1 {
    text-align: center;
    font-size: 36px;
    font-weight: 500;
    color: #333;
    margin: 30px 0;
}

button:focus {
    text-decoration: none !important;
    outline:none !important;
    border: 1px solid cornflowerblue !important;
    box-shadow: none !important;
}

.button-selected {
    background-color: cornflowerblue !important;
    color: white !important;
}

/* PULSE ANIMATION */
.pulse {
    animation: pulse 3s infinite;
    background-color: indianred;
}
.pulse:hover {
    animation: none;
}

@keyframes pulse {
    0% {
        opacity: 0.3;
    }
    50% {
        opacity: 0.9;
    }
    100% {
        opacity: 0.3;
    }
}

hr {
    border: 0;
    height: 1px;
    background: #333;
    background-image: linear-gradient(to right, #ccc, #333, #ccc);
}

@media screen and (max-height: 700px) {
    .footer {
        visibility: hidden;
    }
}
