*,
*:before,
*:after {
    box-sizing: inherit;
}

html {
    height: 100%;
    box-sizing: border-box;
}

body {
    font-family: 'Josefin Sans', sans-serif !important;
    background: url(https://i.imgur.com/sJBVvbc.jpg) center center no-repeat !important;
    background-size: cover !important;
    position: relative;
    margin: 0;
    padding-bottom: 16rem;
    min-height: 100%;
}