*,
*:before,
*:after {
    box-sizing: inherit;
}

html {
    height: 100%;
    box-sizing: border-box;
}

body {
    font-family: 'Josefin Sans', sans-serif !important;
    background: url(https://i.imgur.com/sJBVvbc.jpg) center center no-repeat !important;
    background-size: cover !important;
    position: relative;
    margin: 0;
    padding-bottom: 16rem;
    min-height: 100%;
}

#container {
    min-width: 930px;
}

#container h1 {
    text-align: center;
    font-size: 36px;
    font-weight: 500;
    color: #333;
    margin: 30px 0;
}

button:focus {
    text-decoration: none !important;
    outline:none !important;
    border: 1px solid cornflowerblue !important;
    box-shadow: none !important;
}

.button-selected {
    background-color: cornflowerblue !important;
    color: white !important;
}

/* PULSE ANIMATION */
.pulse {
    animation: pulse 3s infinite;
    background-color: indianred;
}
.pulse:hover {
    animation: none;
}

@keyframes pulse {
    0% {
        opacity: 0;
    }
    60% {
        opacity: 0.9;
    }
    100% {
        opacity: 0;
    }
}